Capfile

# ignore config files but leave examples
config/deploy.rb
config/*.yml
!config/*.example.yml

coverage/

log/*.log
log/*/*.log

nbproject/
.idea/
.generators

lib/tasks/cruise.rake
lib/tasks/rspec.rake

script/spec
script/spec_server

spec/rcov.opts
spec/spec.opts

test/
tmp/
taskboard_internal/

