<div id="footer">
<a id="cognifide_logo" href="http://www.cognifide.com">Cognifide</a>
<p class="madeby">Taskboard is made by <a href="http://www.cognifide.com">Cognifide</a></p>
<p class="version">version: <span class="number"><%= TASKBOARD_VERSION %></span></p>
<ul>
<li><a href="http://www.taskboard.cognifide.com">Website</a></li>
<li><a href="http://github.com/CognifideLabs/taskboard">Source</a></li>
<li><a href="http://github.com/CognifideLabs/taskboard/issues">Feedback &amp; issues</a></li>
</ul>
</div>

