<%#
Copyright (C) 2009 Cognifide

This file is part of Taskboard.

Taskboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Taskboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Taskboard. If not, see <http://www.gnu.org/licenses/>.
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Taskboards</title>
	<%= stylesheet_link_tag 'home' %>
</head>

<body id="home">

<h1>Taskboard</h1>

<ul class="actions">
<li>
	<h2>Choose a taskboard from a list:</h2>
	<ul id="taskboards">
	<%= render :partial => 'taskboard', :collection => @taskboards %>
	</ul>
</li>
<% if session[:editor] -%>
<li>
	<h2>Create a new one:</h2>
	<form action="/taskboard/add_taskboard" method="get">
	<fieldset>
		<label for="name">Type a name of new taskboard:</label>
		<input type="text" id="name" name="name" /><input type="submit" value="Add"/>
		<p class="error"><%= flash[:error] %></p>
	</fieldset>
	</form>
</li>
<% end -%>
</ul>
</body>
</html>
