<div id="footer">
<div id="demo_notice">
<p>This is a demo of Taskboard application.</p>
<p>You will see every changes made by other users of this demo, so please be nice :)</p>
<p>All the demo data is cleaned at night, so don't be surprised if something dissapears.</p>
<!--[if IE]>
<p class="ie">We haven't done much testing for Internet Explorer browser.</p>
<p class="ie">We encourage you to use <a href="http://www.mozilla.com/firefox/">Firefox</a> or <a href="http://www.google.pl/chrome">Chrome</a> for best Taskboard experience.</p>
<![endif]-->
</div>
<div id="taskboard_meta">
<p class="madeby">Taskboard is made by <a href="http://www.cognifide.com">Cognifide</a></p>
<p class="version">version: <span class="number"><%= TASKBOARD_VERSION %></span></p>
<ul>
<li><a href="http://www.taskboard.cognifide.com">Website</a></li>
<li><a href="http://github.com/CognifideLabs/taskboard">Source</a></li>
<li><a href="http://github.com/CognifideLabs/taskboard/issues">Feedback &amp; issues</a></li>
</ul>
</div>
<a id="cognifide_logo" href="http://www.cognifide.com">Cognifide</a>
</div>

